/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding {
    padding: 80px 0px;
}

/* Main Css */

.single-service-area {
    display: block;
    border: 2px solid #e8e8e8;
    border-radius: 3px;
    padding: 30px;
    text-align: center;
    position:  relative;
    color: #333;
    padding-top:  50px;
}
.single-service-area:hover {
    color: #333;
}

.service-icon {
    position:  absolute;
    width:  70px;
    height:  70px;
    background:  #54be73;
    font-size: 30px;
    line-height: 70px;
    color:  #ffffff;
    border-radius:  50%;
    top: -18%;
    left:  50%;
    margin-left: -35px;
}
.single-service-area h3 {
    font-size:  20px;
}

.single-service-area p {
    margin:  0px;
    font-size: 14px;
}